body {
    text-align:center;
    background-color: #EBE8E7;
}

.image{
    width: 60%;
    height:auto;

}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: inline;
    width: 60px;
}
.skills {
display: block; 
margin: auto; 
text-align:center;
list-style-type: none;
}