body {
    text-align: center;
    background-color: #EBE8E7;
}

.image {
    width: 60%;
    height: auto;
}

.navigation {
    list-style-type: none;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    position: fixed;
    background-image: url();
    background-repeat: no-repeat;
    background-position: bottom right;
}

.navigation li a {
    color: #549C74;
    font-size: 1.5em;
    width: 15%;
    display: inline-block;
}

.icon {
    text-align: left;
    display: block;
    size: 200%;
}

.promo {
    display: block;
}

article {
    width: 15%;
    display: inline-block;
}

.companies {
    display: inline-block;
    width: 40%;
}

.companies img {
    width: 40%;
}

.site-break {
    background-color: #549C74;
}

#skills {
    background-color: #D0B6AB;
}

.skills {
    display: inline-table;
    margin: auto;
    padding: none;
    text-align: left;
    list-style-type: none;
    color: #EBE8E7;
    background-color: #818985;
    border: none;
}

.portfolio {
    color: #D0B6AB;
    font-size: 1.5em;
    background-image: url(../img/tech.jpg);
    /*how do I set picture transparency to 40%?*/
}

p {
    color: #549C74;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h1 {
    color: #549C74;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h2 {
    color: #549C74;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h3 {
    color: #2D3C24;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#about_me {}

#contact {}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 75%;
    display: block;
    margin:auto;
}